body {
    background-image: url("../images/background_4.png");
    background-size: cover;
    background-position: top center;
    font-family: 'Open Sans';
    overflow: hidden;
}

/* NAVIGATION */

nav .brand-logo {
    color: #000;
}

nav ul a {
    color: #fff;
    font-weight: 700;
}

nav ul a:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.sidenav-trigger {
    color: #26a69a;
}

nav {
    position: fixed;
    z-index: 99;
    color: #fff;
    text-transform: uppercase;
}

/* NAVIGATION */

/* .full-screen {
    min-height: 100vh;
    max-height: 100vh;
    width: 100%;
} */

#section-2, #section-3, #section-4 {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
}

.uppercase {
    text-transform: uppercase;
}

h1.header, h5.header {
    line-height: 1em;
}

.title {
    font-weight: 700;
}

.small-text {
    font-size: 12px;
}

.lilac {
    background-color: #e2d6f0;
}

.tall {
    height: 60vh;
}

.short {
    height: 25vh;
}

.padding-top-1vh {
    padding-top: 1vh !important;
}

.top-adjustment {
    position: relative;
    top: -31vh;
}

#section-wrapper {
    position: relative;
    width: 100%;
}

div.section {
    width: 100%;
    position: relative;
}

/* ICON BLOCK */

#section-2 {
    max-width: 70%;
}

.icon-block {
    background-color: #fff;
    border-radius: 30px;
    padding: 25px;
    min-height: 350px;
    position: relative;
}

.icon-block .bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    margin: 1px 20px 30px 20px;
}

/* ICON BLOCK */

/* footer */
footer li {
    line-height: 1.8em;
}

.page-footer {
    font-size: 10px;
    line-height: 0.8em;
}
/* footer */

.triangles {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    display: inline-block;
}

.triangles_img {
    position: relative;
    width: 39.350180505%;
    height: 39.350180505%;
}

.triangles_top {
    width: 900px;
    left: 50%;
    position: relative;
    opacity: 1;
    transform: translateX(0%) translateZ(0px);
}

.triangles_bottom {
    width: 900px;
    left: 50%;
    position: relative;
}

.animate_up {
    animation: animation_up_reverse 2s cubic-bezier(.4, .33, .66, .91);
}

.animate_up_reverse {
    animation: animation_u 2 cubic-bezier(.4, .33, .66, .91);
}

@keyframes animation_up {
    from {
        transform: translateY(0);
        opacity: 1;
    }
    to {
        transform: translateY(100%);
        opacity: 0;
    }
}

@keyframes animation_up_reverse {
    from {
        transform: translateY(100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@import url(https://fonts.googleapis.com/css?family=Montserrat);
html, body {
    overflow: hidden;
}

.background {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    overflow: hidden;
    will-change: transform;
    backface-visibility: hidden;
    height: 130vh;
    position: fixed;
    width: 100%;
    transform: translateY(30vh);
    transition: all 1.2s cubic-bezier(0.22, 0.44, 0, 1);
}

.background:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .3);
}

.background:first-child {
    background-image: url(https://i.postimg.cc/kXq9Qmnj/bgd1.jpg);
    transform: translateY(-15vh);
}

.background:first-child .content-wrapper {
    transform: translateY(15vh);
}

.background:nth-child(2) {
    background-image: url(https://i.postimg.cc/W14vywqg/photo-1424746219973-8fe3bd07d8e3.jpg);
}

.background:nth-child(3) {
    background-image: url(https://i.postimg.cc/TY0xQ41T/photo-1433840496881-cbd845929862.jpg);
}

/* Set stacking context of slides */

.background:nth-child(1) {
    z-index: 3;
}

.background:nth-child(2) {
    z-index: 2;
}

.background:nth-child(3) {
    z-index: 1;
}

.content-wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-flow: column nowrap;
    color: #fff;
    font-family: Montserrat;
    text-transform: uppercase;
    transform: translateY(40vh);
    will-change: transform;
    backface-visibility: hidden;
    transition: all 1.7s cubic-bezier(0.22, 0.44, 0, 1);
}

.content-title {
    font-size: 12vh;
    line-height: 1.4;
}

.background.up-scroll {
    transform: translate3d(0, -15vh, 0);
}

.background.up-scroll .content-wrapper {
    transform: translateY(15vh);
}

.background.up-scroll+.background {
    transform: translate3d(0, 30vh, 0);
}

.background.up-scroll+.background .content-wrapper {
    transform: translateY(30vh);
}

.background.down-scroll {
    transform: translate3d(0, -130vh, 0);
}

.background.down-scroll .content-wrapper {
    transform: translateY(40vh);
}

.background.down-scroll+.background:not(.down-scroll) {
    transform: translate3d(0, -15vh, 0);
}

.background.down-scroll+.background:not(.down-scroll) .content-wrapper {
    transform: translateY(15vh);
}